.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.DS_Store
JKR AO3 Scrape/GPT Coder.qmd
JKR AO3 Scrape/Interim Data/author_info.rdata
JKR AO3 Scrape/Interim Data/chapter_info.rdata
JKR AO3 Scrape/Interim Data/chapter_text.rdata
JKR AO3 Scrape/Interim Data/filtered_data.rdata
JKR AO3 Scrape/Interim Data/search_output.rdata
JKR AO3 Scrape/Interim Data/work_info.rdata
JKR AO3 Scrape/Scrape.qmd
JKR AO3 Scrape/UntitledQMD.qmd
.DS_Store
.DS_Store
